@model SistemaIMC.Models.T_Comuna

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>T_Comuna</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreComuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreComuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Region)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Comuna">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
