USE [DB_NutricionEstudiantes]
GO
/****** Object:  Table [dbo].[T_CategoriaIMC]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CategoriaIMC](
	[ID_CategoriaIMC] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CategoriaIMC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Clasificacion_Nutricional]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Clasificacion_Nutricional](
	[ID_Clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Medicion] [int] NOT NULL,
	[Edad_Meses] [int] NOT NULL,
	[Puntuacion_Z] [decimal](4, 2) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Referencia_Normativa] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Clasificacion_Medicion] UNIQUE NONCLUSTERED 
(
	[ID_Medicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Comuna]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Comuna](
	[ID_Comuna] [int] IDENTITY(1,1) NOT NULL,
	[NombreComuna] [nvarchar](100) NOT NULL,
	[ID_Region] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Comuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Curso]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Curso](
	[ID_Curso] [int] IDENTITY(1,1) NOT NULL,
	[NombreCurso] [nvarchar](50) NOT NULL,
	[ID_Establecimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Establecimiento]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Establecimiento](
	[ID_Establecimiento] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstablecimiento] [nvarchar](150) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[ID_Comuna] [int] NOT NULL,
	[EstadoRegistro] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Establecimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Estudiante]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Estudiante](
	[ID_Estudiante] [int] IDENTITY(1,1) NOT NULL,
	[RUT] [varchar](12) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[ID_Establecimiento] [int] NOT NULL,
	[ID_Curso] [int] NOT NULL,
	[EstadoRegistro] [bit] NOT NULL,
	[ID_Sexo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MedicionNutricional]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MedicionNutricional](
	[ID_Medicion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Estudiante] [int] NOT NULL,
	[FechaMedicion] [date] NOT NULL,
	[ID_DocenteEncargado] [int] NOT NULL,
	[Peso_kg] [decimal](5, 2) NOT NULL,
	[ID_CategoriaIMC] [int] NULL,
	[Observaciones] [nvarchar](500) NULL,
	[FechaRegistro] [datetime] NULL,
	[Estatura_cm] [decimal](5, 2) NOT NULL,
	[IMC]  AS ([Peso_kg]/(([Estatura_cm]/(100.0))*([Estatura_cm]/(100.0)))) PERSISTED,
	[ZScore_IMC] [decimal](5, 2) NOT NULL,
	[Edad_Meses_Medicion] [int] NOT NULL,
	[Referencia_Normativa] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Medicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Referencia_OMS]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Referencia_OMS](
	[ID_Referencia] [int] IDENTITY(1,1) NOT NULL,
	[ID_Sexo] [int] NOT NULL,
	[Edad_Meses] [int] NOT NULL,
	[L] [decimal](8, 6) NOT NULL,
	[M] [decimal](8, 6) NOT NULL,
	[S] [decimal](8, 6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Referencia_Edad_Sexo] UNIQUE NONCLUSTERED 
(
	[ID_Sexo] ASC,
	[Edad_Meses] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Region]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Region](
	[ID_Region] [int] IDENTITY(1,1) NOT NULL,
	[NombreRegion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Rol]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Rol](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Sexo]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sexo](
	[ID_Sexo] [int] NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[RUT] [varchar](12) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](100) NULL,
	[Contrasena] [nvarchar](100) NOT NULL,
	[ID_Rol] [int] NOT NULL,
	[EstadoRegistro] [bit] NOT NULL,
	[ID_Establecimiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Clasificacion_Nutricional] ADD  DEFAULT ('Patrones OMS 5-19 años') FOR [Referencia_Normativa]
GO
ALTER TABLE [dbo].[T_Establecimiento] ADD  DEFAULT ((1)) FOR [EstadoRegistro]
GO
ALTER TABLE [dbo].[T_Estudiante] ADD  DEFAULT ((1)) FOR [EstadoRegistro]
GO
ALTER TABLE [dbo].[T_MedicionNutricional] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[T_MedicionNutricional] ADD  DEFAULT ((0)) FOR [ZScore_IMC]
GO
ALTER TABLE [dbo].[T_MedicionNutricional] ADD  DEFAULT ((0)) FOR [Edad_Meses_Medicion]
GO
ALTER TABLE [dbo].[T_MedicionNutricional] ADD  DEFAULT ('Patrones OMS 5-19 años') FOR [Referencia_Normativa]
GO
ALTER TABLE [dbo].[T_Usuario] ADD  DEFAULT ((1)) FOR [EstadoRegistro]
GO
ALTER TABLE [dbo].[T_Clasificacion_Nutricional]  WITH CHECK ADD  CONSTRAINT [FK_Clasificacion_Medicion] FOREIGN KEY([ID_Medicion])
REFERENCES [dbo].[T_MedicionNutricional] ([ID_Medicion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_Clasificacion_Nutricional] CHECK CONSTRAINT [FK_Clasificacion_Medicion]
GO
ALTER TABLE [dbo].[T_Comuna]  WITH CHECK ADD  CONSTRAINT [FK_Comuna_Region] FOREIGN KEY([ID_Region])
REFERENCES [dbo].[T_Region] ([ID_Region])
GO
ALTER TABLE [dbo].[T_Comuna] CHECK CONSTRAINT [FK_Comuna_Region]
GO
ALTER TABLE [dbo].[T_Curso]  WITH CHECK ADD  CONSTRAINT [FK_ID_Establecimiento] FOREIGN KEY([ID_Establecimiento])
REFERENCES [dbo].[T_Establecimiento] ([ID_Establecimiento])
GO
ALTER TABLE [dbo].[T_Curso] CHECK CONSTRAINT [FK_ID_Establecimiento]
GO
ALTER TABLE [dbo].[T_Establecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Establecimiento_Comuna] FOREIGN KEY([ID_Comuna])
REFERENCES [dbo].[T_Comuna] ([ID_Comuna])
GO
ALTER TABLE [dbo].[T_Establecimiento] CHECK CONSTRAINT [FK_Establecimiento_Comuna]
GO
ALTER TABLE [dbo].[T_Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Curso] FOREIGN KEY([ID_Curso])
REFERENCES [dbo].[T_Curso] ([ID_Curso])
GO
ALTER TABLE [dbo].[T_Estudiante] CHECK CONSTRAINT [FK_Estudiante_Curso]
GO
ALTER TABLE [dbo].[T_Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Establecimiento] FOREIGN KEY([ID_Establecimiento])
REFERENCES [dbo].[T_Establecimiento] ([ID_Establecimiento])
GO
ALTER TABLE [dbo].[T_Estudiante] CHECK CONSTRAINT [FK_Estudiante_Establecimiento]
GO
ALTER TABLE [dbo].[T_Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Sexo] FOREIGN KEY([ID_Sexo])
REFERENCES [dbo].[T_Sexo] ([ID_Sexo])
GO
ALTER TABLE [dbo].[T_Estudiante] CHECK CONSTRAINT [FK_Estudiante_Sexo]
GO
ALTER TABLE [dbo].[T_MedicionNutricional]  WITH CHECK ADD  CONSTRAINT [FK_Medicion_CategoriaIMC] FOREIGN KEY([ID_CategoriaIMC])
REFERENCES [dbo].[T_CategoriaIMC] ([ID_CategoriaIMC])
GO
ALTER TABLE [dbo].[T_MedicionNutricional] CHECK CONSTRAINT [FK_Medicion_CategoriaIMC]
GO
ALTER TABLE [dbo].[T_MedicionNutricional]  WITH CHECK ADD  CONSTRAINT [FK_Medicion_Docente] FOREIGN KEY([ID_DocenteEncargado])
REFERENCES [dbo].[T_Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[T_MedicionNutricional] CHECK CONSTRAINT [FK_Medicion_Docente]
GO
ALTER TABLE [dbo].[T_MedicionNutricional]  WITH CHECK ADD  CONSTRAINT [FK_Medicion_Estudiante] FOREIGN KEY([ID_Estudiante])
REFERENCES [dbo].[T_Estudiante] ([ID_Estudiante])
GO
ALTER TABLE [dbo].[T_MedicionNutricional] CHECK CONSTRAINT [FK_Medicion_Estudiante]
GO
ALTER TABLE [dbo].[T_Referencia_OMS]  WITH CHECK ADD  CONSTRAINT [FK_Referencia_Sexo] FOREIGN KEY([ID_Sexo])
REFERENCES [dbo].[T_Sexo] ([ID_Sexo])
GO
ALTER TABLE [dbo].[T_Referencia_OMS] CHECK CONSTRAINT [FK_Referencia_Sexo]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Establecimiento] FOREIGN KEY([ID_Establecimiento])
REFERENCES [dbo].[T_Establecimiento] ([ID_Establecimiento])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_Usuario_Establecimiento]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[T_Rol] ([ID_Rol])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[T_MedicionNutricional]  WITH CHECK ADD  CONSTRAINT [CHK_Estatura_Positivo_cm] CHECK  (([Estatura_cm]>(0)))
GO
ALTER TABLE [dbo].[T_MedicionNutricional] CHECK CONSTRAINT [CHK_Estatura_Positivo_cm]
GO
ALTER TABLE [dbo].[T_MedicionNutricional]  WITH CHECK ADD  CONSTRAINT [CHK_Peso_Positivo] CHECK  (([Peso_kg]>(0)))
GO
ALTER TABLE [dbo].[T_MedicionNutricional] CHECK CONSTRAINT [CHK_Peso_Positivo]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarCategoriaIMC]    Script Date: 12/8/2025 8:10:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_ActualizarCategoriaIMC]
    @ID_Medicion INT,
    @FechaMedicion DATETIME,
    @FechaNacimiento DATETIME,
    @ID_Sexo INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Declaración de variables
    DECLARE @IMC DECIMAL(5, 2);
    DECLARE @EdadEnMeses INT;
    DECLARE @L DECIMAL(8, 6);
    DECLARE @M DECIMAL(8, 6);
    DECLARE @S DECIMAL(8, 6);
    DECLARE @ZScoreCalculado DECIMAL(5, 2);
    DECLARE @ID_CategoriaIMC_Nueva INT;
    DECLARE @NombreCategoria NVARCHAR(50);
    DECLARE @ReferenciaNormativa VARCHAR(100) = 'Patrones OMS 5-19 años'; -- Constante

    -- 1. CALCULAR EDAD EN MESES
    SET @EdadEnMeses = DATEDIFF(month, @FechaNacimiento, @FechaMedicion);

    -- 2. RECUPERAR IMC
    SELECT @IMC = IMC 
    FROM T_MedicionNutricional 
    WHERE ID_Medicion = @ID_Medicion;

    -- 3. VALIDAR RANGO DE EDAD (5 a 19 años = 60 a 228 meses)
    IF @EdadEnMeses < 60 OR @EdadEnMeses > 228
    BEGIN
        -- Manejo para edades fuera del rango OMS 5-19
        
        -- ASIGNAR CATEGORÍA DE ADULTO (Simplificado, si tienen más de 19 años)
        IF @EdadEnMeses > 228
        BEGIN
            -- ¡ERROR CORREGIDO! Se eliminó el sufijo 'm'
            IF @IMC < 18.5 SET @ID_CategoriaIMC_Nueva = 4; -- Bajo Peso
            ELSE IF @IMC < 25.0 SET @ID_CategoriaIMC_Nueva = 1; -- Normal
            ELSE IF @IMC < 30.0 SET @ID_CategoriaIMC_Nueva = 2; -- Sobrepeso
            ELSE SET @ID_CategoriaIMC_Nueva = 3; -- Obesidad
        END
        ELSE
        BEGIN
             -- Si es menor de 5 años, asignamos 'Normal'
             SET @ID_CategoriaIMC_Nueva = (SELECT ID_CategoriaIMC FROM T_CategoriaIMC WHERE NombreCategoria = 'Normal');
        END
        
        SET @ZScoreCalculado = 0.00; -- No hay Z-Score válido en este caso

    END
    ELSE
    BEGIN
        -- RANGO VÁLIDO (5 a 19 años)
        
        -- 4. OBTENER PARÁMETROS LMS DE LA TABLA DE REFERENCIA
        SELECT TOP 1 
            @L = L, 
            @M = M, 
            @S = S
        FROM 
            T_Referencia_OMS
        WHERE 
            ID_Sexo = @ID_Sexo 
            AND Edad_Meses = @EdadEnMeses;

        -- 5. CALCULAR LA PUNTUACIÓN Z (Z-Score)
        IF @L IS NOT NULL
        BEGIN
            -- NOTA: Se usa LOG() que es la función logaritmo natural en SQL Server
            IF @L = 0 
                SET @ZScoreCalculado = LOG(@IMC / @M) / @S; 
            ELSE 
                SET @ZScoreCalculado = (POWER(@IMC / @M, @L) - 1) / (@L * @S);
            
            -- Redondear el Z-Score
            SET @ZScoreCalculado = ROUND(@ZScoreCalculado, 2);

            -- 6. ASIGNAR CATEGORÍA BASADA EN LA PUNTUACIÓN Z (OMS 5-19)
            -- Asumo los siguientes IDs en T_CategoriaIMC: 1:Normal, 2:Sobrepeso, 3:Obesidad, 4:Bajo Peso
            SELECT @ID_CategoriaIMC_Nueva = T1.ID_CategoriaIMC, @NombreCategoria = T1.NombreCategoria
            FROM T_CategoriaIMC T1
            WHERE T1.ID_CategoriaIMC = 
                CASE 
                    WHEN @ZScoreCalculado < -2.00 THEN 4    -- Bajo Peso (Z < -2)
                    WHEN @ZScoreCalculado > 2.00 THEN 3     -- Obesidad (Z > +2)
                    WHEN @ZScoreCalculado > 1.00 THEN 2     -- Sobrepeso (+1 < Z <= +2)
                    ELSE 1                                  -- Normal (-2 <= Z <= +1)
                END;
        END
        ELSE
        BEGIN
             -- No se encontraron parámetros L, M, S (Datos faltantes)
             SET @ID_CategoriaIMC_Nueva = (SELECT ID_CategoriaIMC FROM T_CategoriaIMC WHERE NombreCategoria = 'Normal'); 
             SET @ZScoreCalculado = 0.00;
        END

    END -- FIN IF RANGO VÁLIDO

    -- 7. ACTUALIZAR T_MedicionNutricional
    UPDATE T_MedicionNutricional
    SET 
        ID_CategoriaIMC = @ID_CategoriaIMC_Nueva,
        ZScore_IMC = @ZScoreCalculado,
        Edad_Meses_Medicion = @EdadEnMeses,
        Referencia_Normativa = @ReferenciaNormativa
    WHERE 
        ID_Medicion = @ID_Medicion;

    -- 8. REGISTRAR EN T_Clasificacion_Nutricional
    
    -- Obtener NombreCategoria si no se obtuvo antes
    IF @NombreCategoria IS NULL
    BEGIN
        SELECT @NombreCategoria = NombreCategoria 
        FROM T_CategoriaIMC 
        WHERE ID_CategoriaIMC = @ID_CategoriaIMC_Nueva;
    END

    -- Eliminar registro anterior si existe (en caso de edición)
    DELETE FROM T_Clasificacion_Nutricional WHERE ID_Medicion = @ID_Medicion;

    -- Insertar nuevo registro
    INSERT INTO T_Clasificacion_Nutricional 
        (ID_Medicion, Edad_Meses, Puntuacion_Z, Categoria, Referencia_Normativa)
    VALUES 
        (@ID_Medicion, @EdadEnMeses, @ZScoreCalculado, @NombreCategoria, @ReferenciaNormativa);
END
GO
